<form [formGroup]="formGroup">
    <div class="row">
        <app-input label="E-mail" placeholder="E-mail" type="email" name="email"></app-input>
        <!-- <label for="email">E-mail</label>
        <input id="email" name="email" type="email" formControlName="email"> -->
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" formControlName="password">
    </div>
    <button (click)="onLogin()">Save</button>
</form>