$text-color: #333;

$gray-1: #eee;          // border
$gray-2: #f5f5f5;       // background
$gray-2: #fafafa;       // background
$gray-3: #888;          // icons
$gray-4: #696767;       // icons (hover)

$blue-color: #1976d2;
$red-color: #ff0031;

$yellow-1: #fff3e0;
$yellow-2: #ffe0b2;
$yellow-3: #ffa726;
$yellow-4: #fb8c00;

$orange: #f64060;
