table {
    width: 100%;
    
    border-collapse: collapse;

    thead {
        tr {
            th {
                font-weight: bold;
                text-align: center;
                border-top: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
                padding: 0.25rem;
            }
        }
    }

    tbody {
        tr {
            // &:focus,
            // &:hover {
            //     td {
            //         font-weight: bold;
            //     }
            // }

            &:nth-of-type(odd) {
                background-color: white;
            }

            td {
                border-top: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
                padding: 0.25rem;

                &.center {
                    text-align: center;
                }

                &.left {
                    text-align: left;
                }

                &.right {
                    text-align: right;
                }
            }
        }
    }
}
