:host {
    height: inherit;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        .field {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 1rem;
        }
    }

    button[type="submit"] {
        div {
            place-self: center;
            display: flex;
            flex-direction: row;
            gap: 0.25rem;

            span {
                &:last-of-type {
                    align-self: center;
                }
            }
        }
    }
}